nav {
  height: 70px;
  background-color: rgb(148, 145, 145);
  color: rgb(8, 8, 8);
  display: flex;
  padding: 0 40px;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 0px 10px 10px rgb(78, 78, 78);
  padding: 10px;
}
.right {
  display: flex;
  gap: 20px;
  align-items: center;
}
.link {
  color: white;
  text-decoration: none;
}
.active {
  color: rgb(11, 10, 9);
}
