.app_header {
  margin: 20px;
  width: 30%;
  border: 1px solid black;
  height: 150px;
  padding: 20px;
}

.button {
  margin-top: 100px;
  margin-left: 700px;
  display: flex;
  gap: 10px;
}

.show_box {
  /* margin-left: 600px;   */
  margin: auto;
  /* margin-top: 10px; */
}
